server:
  port: 8086
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: random-gallery
  datasource:
    url: jdbc:mysql://${db.host}:${db.port}/${db.name}?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
    username: ${db.username}
    password: ${db.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  config:
    import: classpath:db.yaml
  freemarker:
    template-loader-path: classpath:/templates/
    suffix: .ftl
    charset: UTF-8
    content-type: text/html
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Shanghai

# MyBatis Plus Configuration
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    # 使用 Slf4j 输出 SQL（含参数）
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl

config:
  env: dev

other:
  downloader:
    port: 5556
    url: http://${db.host}:${other.downloader.port}/xhs/detail
  imaginary:
    type: jpeg
    quality: 90
    port: 6363
    url: http://${db.host}:${other.imaginary.port}/convert?type=${other.imaginary.type}&quality=${other.imaginary.quality}

image:
  safe-mode:
    enabled: true
    placeholder-url: "/icons/404.svg"
