<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.randomGallery.service.mapper.GroupServiceMapper">
    <update id="updateById">
        UPDATE ${tableName}
        SET group_name = #{vo.groupName},
        group_url = #{vo.groupUrl},
        group_count = #{vo.groupCount}
        where group_id = #{vo.groupId}
    </update>

    <select id="queryGroupById" resultType="com.example.randomGallery.entity.VO.GroupVO">
        SELECT group_id   AS groupId,
               group_name AS groupName,
               pic_name AS picName
        FROM ${tableName}
        WHERE is_delete = 0
          AND group_id = #{qry.groupId}
    </select>

    <select id="queryGroupList" resultType="com.example.randomGallery.entity.VO.GroupVO">
        SELECT
        group_id AS groupId,
        group_name AS groupName,
        group_count AS groupCount,
        group_url AS groupUrl
        FROM ${tableName}
        WHERE
        is_delete = 0
        <if test="qry.groupId != null">
            AND group_id = #{qry.groupId}
        </if>
        <if test="qry.groupName !=null and qry.groupName !=''">
            and group_name like concat('%',#{qry.groupName},'%')
        </if>
        <if test="qry.groupIdList != null and qry.groupIdList.size > 0">
            and group_id in
            <foreach collection="qry.groupIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="queryGroupCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT group_id, pic_name)
        FROM ${tableName}
        WHERE
        is_delete = 0
        <if test="qry.groupId != null">
            AND group_id = #{qry.groupId}
        </if>
        <if test="qry.picName !=null and qry.picName !=''">
            AND pic_name LIKE CONCAT('%', #{qry.picName}, '%')
        </if>
    </select>
    <select id="selectGroupIdList" resultType="java.lang.Long">
        select group_id
        FROM ${tableName}
        WHERE is_delete = 0
    </select>
</mapper>