<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.randomGallery.server.mapper.GroupServiceMapper">

    <select id="queryGroupList" resultType="com.example.randomGallery.entity.VO.GroupVO">
        SELECT
        group_id AS groupId,
        pic_name AS picName
        FROM ${tableName}
        WHERE
        is_delete = 0
        <if test="qry.groupId != null">
            AND group_id = #{qry.groupId}
        </if>
        <if test="qry.picName !=null and qry.picName !=''">
            and pic_name like concat('%',#{qry.picName},'%')
        </if>
        group by group_id,pic_name
    </select>
    <select id="queryGroupCount" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM ${tableName}
        WHERE
        is_delete = 0
        <if test="qry.groupId != null">
            AND group_id = #{qry.groupId}
        </if>
        <if test="qry.picName !=null and qry.picName !=''">
            and pic_name like concat('%',#{qry.picName},'%')
        </if>
        group by group_id,pic_name
    </select>
</mapper>