<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.randomGallery.service.mapper.PicServiceMapper">

    <select id="selectPicPage" resultType="com.example.randomGallery.entity.VO.PicVO">
        SELECT
        id,
        pic_url,
        pic_name,
        group_id
        FROM pic_info
        WHERE is_delete = 0
        <if test="qry.groupId != null">
            and group_id = #{qry.groupId}
        </if>
    </select>
    <select id="queryPicCountInfo" resultType="com.example.randomGallery.entity.VO.GroupVO">
        SELECT
            p.pic_url AS groupUrl,
            p.pic_name AS groupName,
            p.group_id AS groupId,
            t.total_count AS groupCount
        FROM (
                 SELECT id
                 FROM pic_info
                 WHERE is_delete = 0 AND group_id = #{groupId}
                 ORDER BY RAND()
                 LIMIT 1
             ) AS rand_id
                 LEFT JOIN pic_info p ON rand_id.id = p.id
                 CROSS JOIN (
            SELECT COUNT(1) AS total_count
            FROM pic_info
            WHERE is_delete = 0 AND group_id = #{groupId}
        ) AS t;
    </select>
</mapper>